body {
    background-color: rgb(185, 204, 207);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#central {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 75px;
    gap: 50px;

}

#container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 400px;
    height: 400px;
}

#button-pad {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.grid {
    display: flex;
    background-color: #dad6c0;
    height: 400px;
    width: 400px;
    flex-shrink: 1;
}

.gridded-grid {

    display: flex;
    background-color: #dad6c0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 25%;
    width: 25%;
}

.btn {
    padding: 12px 24px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}